<div class="container">
  <div class="jumbotron">
    <h2 class="title">Aplicación de prueba</h2>
  </div>
  <form *ngIf="showForm">
    <input type="text" name="nombre" [(ngModel)]="form.nombre">
    <input type="email" name="email" [(ngModel)]="form.email">

    <h3>Una lista de items</h3>
    <!-- Para utilizar el componente, hay que setear dos propiedades-->
    <ng2-smart-table [settings]="settings" [source]="datos" (editConfirm)="showMessage($event)"></ng2-smart-table>
  </form>
  <input type="submit" class="btn btn-primary" (click)="showFormStateChange()" value="Show or  Hide Form">
</div>